body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.layui-layer-btn0 {
    border-color: #009688 !important;
    background-color: #009688 !important;
}

.layui-header {
    width: 100%;
    position: fixed;
    height: auto;
}

.layui-header .logo {
    color: tan;
    font-size: large;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 150px;
    display: inline-block;
}

.layui-header .layui-nav {
    float: right;
    height: 50px;
    right: 0;
    padding: 0;
    border-radius: 0;
    width: 250px;
    text-align: right;
}

.layui-header .layui-nav .layui-nav-item {
    height: 50px;
    line-height: 50px;
}

.layui-side {
    top: 50px !important;
    width: 180px !important;
}

.layui-side .layui-side-scroll {
    width: 200px !important;
}

.layui-side .layui-side-scroll .layui-nav-tree {
    width: 180px;
}

.layui-body {
    top: 50px !important;
    bottom: 0 !important;
    left: 180px !important;
}

.layui-body .layui-tab {
    margin: 0;
}

.layui-body .layui-tab .layui-tab-title {
    border-color: teal;
}

.layui-body .layui-tab .layui-tab-title .layui-this::after {
    border-left-color: teal;
    border-right-color: teal;
}

.layui-layer-content {
    padding: 10px;
}

.layui-tab-content {
    padding: 0;
}

.layui-header .layui-nav-child {
    left: unset;
    right: -60px;
}

.layui-side-shadow {
}

@media screen and (max-width: 399px) {
    .layui-side {
        top: 100px !important;
    }

    .layui-body {
        top: 100px !important;
    }
}

@media screen and (max-width: 899px) {
    .layui-side {
        left: -300px;
    }

    .layui-side-show {
        left: 0 !important;
    }

    .layui-side-shadow-show {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        z-index: 998;
    }

    .layui-side-more {
        display: block !important;
        position: fixed;
        z-index: 998;
        bottom: 15px;
        left: 15px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 2px;
        text-align: center;
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
    }

    .layui-body {
        left: 0 !important;
    }
}

.control-tool {
    padding: 5px 10px 5px 0;
    text-align: right;
    border-bottom: 1px solid #eee;
}

.control-search {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid darkgray;
}

.control-search .control-search-item {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.control-search .control-search-item label {
    display: inline-block;
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.control-search .control-search-item input {
    height: 28px;
    line-height: 28px;
    border: 1px solid darkgray;
    width: 170px;
    padding: 0 2px;
}

.control-search .control-search-item input:focus {
    border: 1px solid #ff9b52;
}

