body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 0 0 0;
}

.layui-layer-btn0 {
    border-color: #009688 !important;
    background-color: #009688 !important;
}

.control-tool {
    padding: 5px 10px 5px 0;
    text-align: right;
    border-bottom: 1px solid #eee;
}

.control-search {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid darkgray;
}

.control-search .control-search-item {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.control-search .control-search-item label {
    display: inline-block;
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.control-search .control-search-item input {
    height: 28px;
    line-height: 28px;
    border: 1px solid darkgray;
    width: 170px;
    padding: 0 2px;
}

.control-search .control-search-item input:focus {
    border: 1px solid #ff9b52;
}

